.game-button {
  border: none;
  padding: 10px 20px;
  margin: 20px 0px;
  background-color: rgb(81, 81, 250);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  box-shadow: 0 8px 10px rgb(0 0 0 /5%);
  font-size: 20px;
}

.game-button:hover {
  opacity: 0.8;
  transition: ease-in 0.3s;
}
